    
INFURA_PROJECT_ID= # REQUIRED
ETHERSCAN_API_KEY= # in case you want to verity deployed contract on Sepolia testnet

# PRIVATE KEYS; they can be the same private key
PRIVATE_KEY_OASIS= # REQUIRED
PRIVATE_KEY_SEPOLIA= # REQUIRED

# REGISTERED SMART CONTRACT CONSTRUCTORS
INITIAL_OWNER_ADDRESS= # leaving this blank will take the smart contract DEPLOYER as the initial owner
